.js-enabled .print-this {
  display: block;
  &__icon {
      vertical-align: text-bottom;
    }
}

.print-this {
  display: none
}

@media print {
  h1 {
    font-size: 2em !important;
  }

  [href]:after {
    display: none;
  }

  .hmrc-sign-out-nav {
    display: none;
  }
}