@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukRadios: GovukRadios,
    govukButton: GovukButton
)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("serviceIvApp.title"))) {

    @formHelper(action = routes.ServiceIvAppController.onSubmit(mode), 'autoComplete -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        <p class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold">@messages("serviceIvApp.heading")</p>
        <p class="govuk-body">@messages("serviceIvApp.p1")</p>

        @govukRadios(
            RadiosViewModel.yesNo(
                field = form("value"),
                legend = LegendViewModel("")
            )
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
